#header {
  background-color: #000;
}

#header h4 {
  padding: 0.5em 0;
  color: #fff;
}

label .required-indicator {
  color: #f33;
}

.hide {
  display: none;
}

table input, table select, table .button {
  margin: inherit;
}
