{% extends "layout.html" %}

{% block body %}
  <h1>Allocate stock to job</h1>
  <h2>{{ stockitem.quantity }} x {{stockitem.name}}</h2>
  <form action="" method="post" name="allocate_stock">
    {{ form.hidden_tag() }}
    <p>
      <label for="job">
        Assign to job
        {{ form.job }}
        {% for error in form.job.errors %}
          <span style="color: #f33;">[{{ error }}]</span>
        {% endfor %}
      </label>
    </p>
    <p>
      <a href="{{ url_for('index') }}">Cancel</a> |
      <input type="submit" name="submit" value="Save">
    </p>
  </form>
{% endblock %}
