{% extends "layout.html" %}
{% block body %}
  <h1>Index</h1>

  <div id="active_jobs">
    <h2>Active jobs</h2>
    <ul>
    {% for job in jobs %}
      <li>{{job.name}}</li>
    {% endfor %}
    </ul>
    </div>

  <div id="unallocated_stock">
    <h2>Unallocated stock</h2>
    <ul>
      {% for stock in unallocated_stock %}
        <li>{{stock.name}} ({{numeraljs(stock.quantity).decimal_if_required()}} @ {{numeraljs(stock.unitprice).currency()}})</li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}
