{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="four columns" id="active_jobs">
    <h2>Active jobs</h2>
    <a class="button" href="{{url_for('new_job')}}">Add job</a>
    <table id="active_jobs_table" class="u-full-width">
      <thead>
        <tr>
          <th>
            Job
          </th>
          <th>
            Stock
          </th>
          <th>
            Value
          </th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          <tr>
            <td>
              <a href="{{url_for('view_job', id=job.Job.id)}}">{{job.Job.name}}</a>
            </td>
            <td>
              {% if not job.stockcount %}
                0
              {% else %}
                {{numeraljs(job.stockcount).decimal_if_required()}}
              {% endif %}
            </td>
            <td>
              {% if not job.stocksum %}
                {{numeraljs(0).currency()}}
              {% else %}
                {{numeraljs(job.stocksum).currency()}}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="eight columns" id="unallocated_stock">
    <h2>Unallocated stock</h2>
    <a class="button" href="{{url_for('new_stockitem')}}">Add new stock</a>

    {% if not unallocated_stock %}
      <p>
        No unallocated stock
      </p>
    {% endif %}
    <table id="unallocated_stock_table" class="u-full-width">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Qty
          </th>
          <th>
            Each
          </th>
          <th>
            Allocate...
          </th>
        </tr>
      </thead>
      <tbody>
      {% for stock in unallocated_stock %}
        <tr>
          <td>
            {{stock.name}}
          </td>
          <td>
            {{numeraljs(stock.quantity).decimal_if_required()}}
          </td>
          <td>
            {{numeraljs(stock.unitprice).currency()}}
          </td>
          <td>
            <select name="">
              <option>Unallocated</option>
              <optgroup label="Active jobs">
                {% for job in jobs %}
                  <option value="{{ job.Job.id }}">{{job.Job.name}}</option>
                {% endfor %}
              </optgroup>
              <option disabled>──</option>
              <option>Write-off</option>
            </select>
            <a class="button" href="{{url_for('allocate_stock', id=stock.id)}}">Split</a>
          </td>
           <!--( @ ) <a href="{{url_for('allocate_stock', id=stock.id)}}">[allocate]</a> | <a href="{{url_for('writeoff', id=stock.id)}}">[writeoff]</a></li>-->
        </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
