{% extends "layout.html" %}
{% block body %}
  <h1>Index</h1>

  <div id="active_jobs">
    <h2>Active jobs</h2> <a href="{{url_for('new_job')}}">Add job</a>
    <table>
      <tr>
        <th>
          Name
        </th>
        <th>
          Stock items
        </th>
        <th>
          Value
        </th>
      </tr>
      {% for job in jobs %}
        <tr>
          <td>
            {{job.Job.name}}
          </td>
          <td>
            {% if not job.stockcount %}
              0
            {% else %}
              {{job.stockcount}}
            {% endif %}
          </td>
          <td>
            {% if not job.stocksum %}
              {{numeraljs(0).currency()}}
            {% else %}
              {{numeraljs(job.stocksum).currency()}}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    </div>

  <div id="unallocated_stock">
    <h2>Unallocated stock</h2> <a href="{{url_for('new_stockitem')}}">Add stockitem</a>
    <ul>
      {% for stock in unallocated_stock %}
        <li>{{stock.name}} ({{numeraljs(stock.quantity).decimal_if_required()}} @ {{numeraljs(stock.unitprice).currency()}})</li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}
