<html>
  <head>
    {% if title %}
    <title>{{title}} | Tradestock</title>
    {% else %}
    <title>Tradestock</title>
    {% endif %}
    <script type="text/javascript" src="/static/js/lib/numeral.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div>Header</div>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  </body>
</html>
