{% extends "layout.html" %}

{% block body %}
  <h1>Add a stock item</h1>
  <form action="" method="post" name="new_stockitem">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="u-full-width">
        <label for="sku">
          SKU
          {% if form.sku.flags.required %}<span class="required-indicator">*</span>{% endif %}
          {% for error in form.sku.errors %}
            <span style="color: #f33;">[{{ error }}]</span>
          {% endfor %}
        </label>
        {{ form.sku(class='u-full-width', placeholder='00533166') }}

        <label for="name">
          Name
          {% if form.name.flags.required %}<span class="required-indicator">*</span>{% endif %}
          {% for error in form.name.errors %}
            <span style="color: #f33;">[{{ error }}]</span>
          {% endfor %}
        </label>
        {{ form.name(class='u-full-width', placeholder='88x32mm Radiata Premium H3.2 Decking Griptread Timber') }}

      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <label for="quantity">
          Quantity
          {% if form.quantity.flags.required %}<span class="required-indicator">*</span>{% endif %}
          {% for error in form.quantity.errors %}
            <span style="color: #f33;">[{{ error }}]</span>
          {% endfor %}
        </label>
        {{ form.quantity(type='number', step='0.01', placeholder='10') }}

      </div>
      <div class="four columns">
        <label for="unitprice">
          Unit price
          {% if form.unitprice.flags.required %}<span class="required-indicator">*</span>{% endif %}
          {% for error in form.unitprice.errors %}
            <span style="color: #f33;">[{{ error }}]</span>
          {% endfor %}
        </label>
        {{ form.unitprice(type='number', step='0.01', placeholder='4.12') }}
      </div>
    </div>


    <div class="row">
      <div class="six columns">
        <label for="job">
          Allocate to a job
          {% if form.job.flags.required %}<span class="required-indicator">*</span>{% endif %}
          {% for error in form.job.errors %}
            <span style="color: #f33;">[{{ error }}]</span>
          {% endfor %}
        </label>
        {{ form.job }}
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <a class="button" href="{{ url_for('index') }}">Cancel</a>
        <input class="button button-primary" type="submit" name="submit" value="Save">
      </div>
    </div>
  </form>
{% endblock %}
