{% extends "layout.html" %}

{% block body %}
  <h1>Add job</h1>
  <form action="" method="post" name="new_job">
    {{ form.hidden_tag() }}

    <div class="row">
      <div class="six columns">

        <label for="name">
          Job name
          {% if form.name.flags.required %}<span class="required-indicator">*</span>{% endif %}
        </label>
        {{ form.name(class='u-full-width', placeholder='Steve\'s big deck') }}
        {% for error in form.name.errors %}
          <div class="u-full-width" style="color: #f33;">[{{ error }}]</div>
        {% endfor %}

        {% for subfield in form.active %}
          <label for="{{ subfield.label.field_id}}">
            {{ subfield }}
            <span class="label-body">{{ subfield.label.text }}</span>
          </label>
      {% endfor %}
    </p>
    <p>
      <a class="button" href="{{ url_for('index') }}">Cancel</a>
      <input class="button button-primary" type="submit" name="submit" value="Save">
    </p>
      </div>
    </div>
  </form>
{% endblock %}
